---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css'

const pageTitle = "Sneakers"

const identity = {
	nombre: "Blog sneakers",
	pais: "Chile",
	descripcion: "Blog dedicados a hablar sobre las diferentes tipos de siluetas existentes en el mercado"
}

const marcas = ["Jordan", "Puma", "Adidas", "Nike"]

const happy = true;
const finished = false;
const goal = 3;

const marcaColor = "navy"
const fontWeight = "bold"
const textCase = "uppercase"
---

<BaseLayout pageTitle="Nosotros">
	<div class="container">

		<h1>{pageTitle}</h1>
		
		
		<p>Algunos datos sobre el blog</p>
		
		<ul>
			<li>{identity.nombre}</li>
			<li>La pagina es originaria de {identity.pais} y este es un {identity.descripcion}</li>
		</ul>
		
		<p>Algunas marcas que puedes encontrar son:</p>
		<ul>
			{marcas.map((marca) => <li class="marca">{marca}</li>)}
		</ul>
		
		{happy && <p>El blog sigue en desarrollo</p>}
	</div>
	
</BaseLayout>