---
const pageTitle = "Sneakers"

const identity = {
	nombre: "Blog sneakers",
	pais: "Chile",
	descripcion: "Blog dedicados a hablar sobre las diferentes tipos de siluetas existentes en el mercado"
}

const marcas = ["Jordan", "Puma", "Adidas", "Nike"]

const happy = true;
const finished = false;
const goal = 3;
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
        <a href="/">Inicio</a>
        <a href="/about">Sobre el blog</a>
        <a href="/blog">Blog</a>

		<h1>{pageTitle}</h1>


		<p>Algunos datos sobre el blog</p>

		<ul>
			<li>{identity.nombre}</li>
			<li>La pagina es originaria de {identity.pais} y este es un {identity.descripcion}</li>
		</ul>

		<p>Algunas marcas que puedes encontrar son:</p>
		<ul>
			{marcas.map((marca) => <li>{marca}</li>)}
		</ul>
        
		{happy && <p>El blog sigue en desarrollo</p>}
		{finished && <p>He terminado este blog</p>}
		{goal === 3 ? <p>Mi objetivo es terminar en 3 dias</p> : <p>Mi objetivo no son 3 dias</p>}
	</body>
</html>
