---
import  {getCollection, render} from "astro:content"
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
    const posts = await getCollection("posts");

    return posts.map((post) => ({
        params: { id:post.slug },
        props: { post }
    }))
}

const { post } = Astro.props
const { data, slug } = post
const { title, image, author,description,pubDate} = data
const { Content} = await render(post)
---
<BaseLayout pageTitle=`${title}`>
    <head><link rel="stylesheet" href="/styles/post.css"></head>
    <div class="container">

        <div class="content">
            <a href="/">Volver</a>
            <div class="image">
                <aside>
                    <img src=`${image.url}` alt=`${image.alt}`>
                    <p><span>Fecha publicacion:</span>{pubDate}</p>
                    <p><span>Autor:</span> {author}</p>
                </aside>
            </div>
            <div>
                <Content/>
            </div>
        </div>
    </div>

</BaseLayout>